<div class="container">
  <div class="h1-index-list">
    <h1 class="liste-des-films">Liste des styles de films</h1>
  </div>

  <div class="div-de-la-photo-et-du-nom-de-la-liste">
    <% @lists.each do |list| %>
        <%= link_to list_path(list), class:'link-index' do %>
        <div class="photos-and-name-list">
          <div class="nom-de-la-liste-index">
            <strong>
            <%= list.name %>
            </strong>
          </div>
            <%= cl_image_tag list.photo.key, class:"image-list"%>
            <div class="bouton-supprimer-index">
              <%= link_to "Supprimer la liste",
                list_path(list),
                method: :delete,
                data: { confirm: "Are you sure?"},
                class:"btn btn-dark" %>
              </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="creation-de-la-liste">
    <%= link_to "Créez une nouvelle liste", new_list_path, class: "btn btn-dark" %>
  </div>
</div>
